<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>Safety Reports Competing Teams Due</h2>
        <p>11:59pm CST November 15th, 2016</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="img/stock.png">
        <p>
          The official rules for GNCTR 2017 are now available for download at your...
        </p>
        <p>
          <a href="#" class="subdued">See more...</a>
        </p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>Safety Reports Non-Competing Teams Due</h2>
        <p>11:59pm CST January 15th, 2017</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/stock.png">
        <p>
          The official rules for GNCTR 2017 are now available for download at your...
        </p>
        <p>
          <a href="#" class="subdued">See more...</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
