<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on the Social Media</ion-list-header>
    <a ion-item *ngIf="socialMedia.twitter" href="https://twitter.com/{{socialMedia.twitter}}">
        <ion-icon name="logo-twitter" item-left></ion-icon>
        @{{socialMedia.twitter}}
    </a>
    <a ion-item *ngIf="socialMedia.facebook" href="https://www.facebook.com/{{socialMedia.facebook}}">
        <ion-icon name="logo-facebook" item-left></ion-icon>
        {{socialMedia.facebook}}
    </a>
    <a ion-item *ngIf="socialMedia.instagram" href="https://www.instagram.com/{{socialMedia.instagram}}">
        <ion-icon name="logo-instagram" item-left></ion-icon>
        @{{socialMedia.instagram}}
    </a>
    <a ion-item *ngIf="socialMedia.web" href="{{socialMedia.web}}">
        <ion-icon name="link" item-left></ion-icon>
        {{socialMedia.web}}
    </a>
  </ion-list>
    <ion-list>
      <ion-list-header>Executive Committee</ion-list-header>
      <ion-item *ngFor="let item of contacts; let i = index" (click)="goToContactDetail(item)">
        <ion-avatar item-left>
          <img src="{{item.photoSmall}}">
        </ion-avatar>
        {{item.name}} | {{item.title}}
      </ion-item>
    </ion-list>
</ion-content>
