<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">

    <ion-list *ngFor="let groupedList of groupedCalendarList; let j = index">
      <ion-list-header>{{groupedList.label}}</ion-list-header>
      <ion-card *ngFor="let item of groupedList.group; let i = index" (click)="goToEventDetail(item)">

        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/logo.png">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <p>{{item.startDateFormatted}}</p>
        </ion-item>

        <img src="{{item.photo}}" *ngIf="item.photo">

        <ion-card-content>
          <p>{{item.message}}</p>
        </ion-card-content>

      </ion-card>
    </ion-list>
</ion-content>
