<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="padding">
    <a class="padding" ion-item *ngIf="isVotingOpen" href="https://goo.gl/forms/HrJ7oO5Rz3z3AOqs1">
      <ion-card color="primary">
        <ion-card-content>
          <h2>
            <ion-icon name="open" item-left></ion-icon>
            Click here to vote for your favourite teams.
          </h2>
        </ion-card-content>
      </ion-card>
    </a>

    <ion-list *ngFor="let groupedEvents of groupedCalendarEvents; let j = index">
      <ion-list-header>{{groupedEvents.label}}</ion-list-header>
      <ion-card *ngFor="let item of groupedEvents.group; let i = index" (click)="goToEventDetail(item)">

        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/logo.png">
          </ion-avatar>
          <h2>{{item.title}}</h2>
          <p>{{item.startDateFormatted}}</p>
        </ion-item>

        <img src="{{item.photo}}" *ngIf="item.photo">

        <ion-card-content>
          <p>{{item.message}}</p>
        </ion-card-content>

      </ion-card>
    </ion-list>
</ion-content>
